.listwidget{
    display: flex;
        flex: 1;
        padding: 10px;
        -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        height: 150px;

        .right {
                position: relative;
            }
        
           
        }
        
        .left {
            display: flex;
            width: 100%;
            flex-direction: column;
       
            .title {
                font-size: 30px;
                font-weight: bold;
                color: gray;
              align-self: center;
       
            }
            .value{
                font-size: 30px;
                display: flex;
               
                justify-content: center;
               
            }
            .iconds{
                display: flex;
                justify-content: center;

            }
}