.widget{
    display: flex;
    flex:1;
    padding: 10px;
    -webkit-box-shadow:2px 4px 10px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 10px;
    height: 150px;
    max-width: 500px;
   
    .right{
  position: relative;
       }
         .icon{
       align-self: flex-end;
       font-size: 10px;
      
    }
    }
.left{
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: space-between;
   
    .title{
        font-size: 14px;
        font-weight: bold;
        color: gray ;

    }
    .counter{
        display: flex;
        font-size: 20px;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
    
            .iconds{
        display: flex;
        position: absolute;
        align-self: flex-end;
        border-right: 0;
        height: 10px;
    
       
    }
    }
    
    .link{
        display:flex;
        flex-direction: column;
        font-size: 12px;
       
         border-bottom: 1px solid rgb(94, 89, 89);
        .percentage{
            font-size:10px;
            display: flex;
                align-items: center;
                .icon{
            
            align-items: center;
         height: 17px;
            width:17px;
            padding:1px;
            &.positive {
                    color: green;
                }
                &.negative{
                    color:red;
                }
        }
        }
    }
     
}
