 .sidebar{
    border-right : 0.5px solid rgb(230,227,227);
    background-color: rgb(137, 28, 239);
    flex: 1;
    position: relative;
    min-height: 100vh ;
    .top {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .logo{
                height: 40px;
                width: 150px;
                align-items: center;
                justify-content: center;
            }
    
        }
    
        .center {
            color: white;
            padding: 10px;
            border-bottom: 200px;
            ul{ 
              
                display: flex;
                flex-direction: column;
            justify-content: space-between;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                        display: flex;
                        align-items: center;
                        padding: 5px;
                        margin: 5px;
                        cursor: pointer;
                       // justify-content: ;
                        &:hover{
                            background-color: rgb(161, 161, 244);
                        }
                        .icon {
                              font-size: 16px;
                            margin-right: 10px;
                             }
                             .search{
                                    border:none;
                                 outline: none;
                              
                                 input{
                                    background-color: transparent;
                                    &::placeholder{
                                        color: white;
                                    
                                    }
                                }
                             }
                            
                    }
            }
    
        }
    
        .bottom {
          position:absolute;
          bottom: 0;
        color: white;
            padding: 10px;
        
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                
             li{
                display: flex;
                align-items: center;
                padding: 5px;
               margin:5px;
                cursor:pointer;
                width: 100%;
               // justify-content: ;
                &:hover {
                        background-color: rgb(204, 204, 243);
                    }
                    .icon{
                        font-size: 16px;
                        
                      margin-right: 10px;
                    
                    }
                     
              
                    }
                    
            }
        }
 }